.infoBox {
    flex: 1;
    cursor: pointer;
}
.infoBox:not(:last-child) {
    margin-right: 15px;
}
.infoBox--selected {
    border-top: 10px solid rgb(25, 250, 5);
}
.infoBox--red {
    border-color: red;
}
.infoBox__cases--green {
    color: rgb(13, 223, 13) !important;
}
.infoBox__cases {
    color: #f50808;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.infoBox__total {
    color: #242525;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
    margin-top: 15px !important;
}
